/*  import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');



/* Réinitialisation des styles */
:root {
    --toc-1: #e6e9eb;
    --toc-2: #ccd2d8;
    --toc-3: #b3bcc4;
    --toc-4: #9aa5b1;
    --toc-5: #e6e9eb;
    --toc-6: #ccd2d8;
    --toc-7: #b3bcc4;
    --toc-8: #9aa5b1;
    --toc-9: #e6e9eb;
    --toc-10: #ccd2d8;
    --toc-11: #b3bcc4;
    --toc-12: #9aa5b1
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}

body {
    
    background-color: #111;
    
}

.about, .services, .skills, .teams, .contact, footer{
    font-family: 'Poppins', sans-serif;
}
footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
}


/* all similar content styling codes */
section{
    padding: 100px 0;
}
.max-width{ 
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
.about, .services, .skills, .teams, .contact, footer{
    font-family: 'Poppins', sans-serif;
}
.about .about-content,
.services .serv-content,
.skills .skills-content,
.contact .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
section .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}
section .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}
section .title::after{
    position: absolute;
    bottom: -8px;
    left: 50%;
    font-size: 20px;
    color: crimson;
    padding: 0 5px;
    background: #fff;
    transform: translateX(-50%);
}

/* services section styling */
.services, .teams{
    color:#fff;
    background: #111;
}
.services .title::before,
.teams .title::before{
    background: #fff;
}
.services .title::after,
.teams .title::after{
    background: #111;
    content: "Serveur ROS";
}
.services .serv-content  .card{
    width: calc(33% - 20px);
    background: #222;
    text-align: center;
    border-radius: 6px;
    padding: 50px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.services .serv-content  .card:hover{
    background: crimson;
}
.services .serv-content  .card .box{
    transition: all 0.3s ease;
}
.services .serv-content .card:hover .box{
    transform: scale(1.05);
}
.services .serv-content .card  i{
    font-size: 50px;
    color: crimson;
    transition: color 0.3s ease;
}
.services .serv-content  .card:hover i{
    color: #fff;
}
.services .serv-content  .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
    color: #fff;
}
.services .serv-content  .card .pa{


    color: #fff;

}

.services .serv-content .card .cardlink:visited p{
    color: #fff; /* Couleur du texte du lien déjà visité */
}

.note p {

    color: #fff;
    align-items: center;
    text-align: center;
}